/* 滚动图 */
.poster-main{
  position: absolute;
  width:200px;
  height:100px;
  background-color: red;
}
.poster-list{
  width:800px;
  height: 270px;
}
.poster-btn{
  width: 100px;
  height: 
}
/*二级菜单控制*/
*{
        margin:0px;
        padding:0px;
    }
    .drag{
  position:absolute;
  width:100px;
  height:200px;
}

.but{
    width:100px;
    height:30px;
}
.menu{
  display:none;
  list-style:none;
  border:1px solid black;
  position:absolute;
  width:100px;
}

.menu li{
  margin-bottom:5px;
}
.drag:hover #menu0{
  display:block;
}

#menu0 li:hover #menu1{
  display:block;
  left:100px;
  top:70px;
}
li:hover{
  border:1px solid;
}
